@font-face {
  font-family: 'SmileySans';
  src: url('../fonts/SmileySans.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HarmonySans';
  src: url('../fonts/HarmonySans.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HonorSans';
  src: url('../fonts/HonorSans.ttf');
  font-weight: normal;
  font-style: normal;
}

