.markdown-body {
  letter-spacing: 1px;
  font-family: 'SmileySans', sans-serif;
  background-color: transparent;
}

.markdown-body h1,
.markdown-body h2 {
  color: #FED504;
  border-left: .4rem solid #FED504;
  border-bottom: none;
  padding: 0 0 0 .75rem;
}
.markdown-body h2 {
  border-left-width: .3rem;
}

.markdown-body p img {
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
}

.markdown-body del {
  text-decoration-color: #FED504;
}

.markdown-body a {
  color: #FED504;
}

.markdown-body pre {
  background: #2f323a;
}

.markdown-body pre button {
   visibility: hidden;
}


